@charset "utf-8";

.main{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: .9rem;
    background: #ededf0;
}
h2{
  height:.78rem;
  line-height:.78rem;
  font-size:.26rem;
  color:#737573;
  padding-left:.3rem;
  font-weight: normal;
  background: #f2f3f5;
}
.list-img{
  border-radius: 2px;
}