@charset "utf-8";
body {
  width: 100%;
  /*max-width: 600px;*/
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
}

/*********************************************************/

.tag-music-on{
  -webkit-animation:flatRotate 2s linear infinite;
}

.branch,
.dialog,
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.none{
  display: none;
}



/******************************************************************/





/*main*/
.main{
  padding: .9rem 0 .96rem 0;
  background: #fff;

}
.idx-cont{
 height:1.2rem;
 display: -webkit-box;
 padding-top:.3rem;
 position: relative;
 background: #ffffff;

}
.idx-cont-dt{

}
.dt-img{
  display: block;
  width:.9rem;
  height:.9rem;
  margin:0 .3rem;
}
.dt-img1{
  background: url(../img/dt-img1.png) no-repeat;
  background-size:100% 100%;
}
.dt-img2{
  background: url(../img/dt-img2.png) no-repeat;
  background-size:100% 100%;

}
.idx-cont-dd{
  -webkit-box-flex: 1;
  box-flex: 1;

  border-bottom:1px solid #e3e5e8;
  padding-bottom:.3rem;
}
.dd-title{
  font-size:.3rem;
  line-height:.46rem;
  color:#393737;
}
.dd-p{
  font-size:.26rem;
  line-height: .44rem;
  color:#797c80;
}
.go-right{
  position: absolute;
  right:.3rem;
  top:50%;
  margin-top:-0.13rem;
  font-size:.26rem;
  color:#c7cdd1;

}





/*object*/
.object-cont{

}
.js-cont{
    background: #ffffff;

}
.object-input-cont{
  display:-webkit-box;
  margin-left:15px;
  font-size:.32rem;
  border-bottom:1px solid #e8e9eb;
}
.object-cont-sub{
  background: #ffffff;
}
.object-label{
  display: block;
  line-height:.98rem;
  color:#aaadb3;
  padding-left:4px;

}
.obj-input{
  border:none;
  display: block;
  height:.98rem;
  line-height:.98rem;
  font-size:.32rem;
  color:#656464;
  -webkit-box-flex:1;
}

.table-cont{
  padding-left:13px;
}
.list-li{
  display: -webkit-box;
  height:1.07rem;
  line-height:1.07rem;

}
.left-cont{
padding-right:9px;
}
.list-info,.list-img{
  float:left;

}
.list-img{
  height:.432rem;
  margin:.3rem 7px 0 0;
}
.list-info{
  font-size:.24rem;
  font-weight: bold;
}
.right-cont{
  -webkit-box-flex:1;
  position: relative;
}
.btn-clos{
  width:17px;
  height:17px;
  position: absolute;
  right:20px;
  top:50%;
  margin-top:-9px;
  background:url(../img/icon-close.png) no-repeat;
  background-size:100% 100%;
}
.add-pos{
  position: relative;
  margin-left:20px;
  height:1.08rem;
  line-height:1.08rem;
}
.add-kr{
  width:100%;
  padding-left:20px;
  color:#3587f2;
  font-size:.32rem;


}
.add-text{
  position: absolute;
    left: 0;
    top: 0;
}
.icon-jia{
  height:16px;
}
.add-obj{
  color:#1171ef;
  height:1.08rem;
  line-height:1.08rem;
  text-align:center;
  background: #ffffff;
}
.pdr13{
  padding-right:13px;
}
.p1 {
  width:100%;
  height:100%;
  font-size:.28rem;
}

/*.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: #3587f2;
    display: -webkit-box;
    height: 3.3rem;
    padding-top: 2rem;
    line-height: 3.3rem;
}*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    display: -webkit-box;
    height: .96rem;
    line-height: .66rem;
    border-top:1px solid #c9c9d1;
}
.footer .tabs{
  -webkit-box-flex:1;
  text-align: center;
  font-size:.34rem;

}
.footer .tabs span{
  font-size:.2rem;
}
.tabs-after{
  background: url(../img/tab-bg.png) no-repeat right center; 
}
/*footer*/
.footer a{
  display: block;
  color:#797f8c;
  position: relative;
}
.f-icons{
  display: block;
  padding-top:.4rem;
  font-size:.2rem;
  /*position: relative;*/
}
.content{
  padding-bottom: 1.06rem;
}



