<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="full-screen" content="true" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="360-fullscreen" content="true" />
  <title>待评阅列表</title>
  <script src="js/fontbase.js"></script>

  <link href="css/common.css" rel="stylesheet" />
  <link href="css/appraiseList.css" rel="stylesheet" />
 
</head>

<body>
    <header class="header g-mb6">
      <a href="index.html" class="btn-back"><i class="btn-back-sub icon-zuojiantou"></i>返回</a>
      评阅OKR
    </header>
    <section class="main">
      <h2>以下为评阅列表</h2>
      <ul class="list-cont">
        <li class="lists">
          <a href="grade.html" class="dp-b">
            <span class="list-img color1">树生</span>
            <span class="list-name">徐树生</span>
          </a>
        </li>
        <li class="lists">
          <a href="grade.html" class="dp-b">
            <span class="list-img color2">胲麟</span>
            <span class="list-name">张胲麟</span>
          </a>
        </li>
        <li class="lists">
          <a href="grade.html" class="dp-b">
            <span class="list-img color3">帅</span>
            <span class="list-name">李帅</span>
          </a>
        </li>      

        </ul>
    </section>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

  <script src="js/index.js"></script>

</body>

</html>
