<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="full-screen" content="true" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="360-fullscreen" content="true" />
  <title>联系人</title>
  <script src="js/fontbase.js"></script>

  <link href="css/common.css" rel="stylesheet" />
  <link href="css/linkman.css" rel="stylesheet" />
 
</head>

<body>
    <header class="header g-mb6">
     联系人
    </header>
    <section class="main">
      <p class="linkman-search">
        <input type="text" placeholder="搜索" class="linkman-search-input js-icon-search">
      </p>
      <ul class="list-cont list-cont-bd">
        <li class="lists ">
          <a href="javascript:;" class="dp-b">
            <span class="list-img color1 l-icon1"></span>
            <span class="list-name">PC搜索研发部</span>
          </a>
        </li>
        <li class="lists">
          <a href="javascript:;" class="dp-b">
            <span class="list-img color2 l-icon2"></span>
            <span class="list-name">无线搜索研发部</span>
          </a>
        </li>
        <li class="lists">
          <a href="javascript:;" class="dp-b">
            <span class="list-img color3 l-icon3"></span>
            <span class="list-name">精准广告研发组</span>
          </a>
        </li>
        <li class="lists">
          <a href="javascript:;" class="dp-b">
            <span class="list-img color4 l-icon4"></span>
            <span class="list-name">群组</span>
          </a>
        </li>
        <li class="lists no-m">
          <a href="javascript:;" class="dp-b">
            <span class="list-img color5 l-icon5"></span>
            <span class="list-name">自定义组</span>
          </a>
        </li>
        </ul>
        <p class="abc">N</p>
        <ol class="abc-cont search-result">
          <li class="lists no-m list-name">
            <a href="otherOkr.html" class="dp-b">
            <span class="list-img color6 icon-phone">女</span>
            <span class="list-name">女</span>
            </a>
          </li>
        </ol>
        <p class="abc">X</p>
        <ol class="abc-cont search-result">
          <li class="lists no-m list-name">
            <a href="otherOkr.html" class="dp-b">
            <span class="list-img color7 icon-phone">树生</span>
            <span class="list-name">徐树生</span>
            </a>
          </li>
        </ol>
        
    </section>
    <footer class="footer">
    <div class="tabs"><a href="index.html"><i class="f-icons icon-xiaoxi">OKR</i></a></div>
    <div class="tabs"><a href="linkman.html"><i class="f-icons icon-zl_lianxiren">联系人</i></a></div>
    <div class="tabs"><a href="myInfo.html"><i class="f-icons icon-wo">我</i></a></div>
  </footer>

    <div class="search-pendant">
      <p>N</p>
      <p>X</p>
    </div>
  <script>

  </script>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

  <script src="js/index.js"></script>

</body>

</html>
p