<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="full-screen" content="true" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="360-fullscreen" content="true" />
  <title>查看OKR</title>
  <script src="js/fontbase.js"></script>

  <link href="css/common.css" rel="stylesheet" />
  <link href="css/lookOkr.css" rel="stylesheet" />
 
</head>

<body>
    <header class="header mb05">
      <a href="index.html" class="btn-back"><i class="btn-back-sub icon-zuojiantou"></i>返回</a>
      OKR详情
    </header>
    <section class="main">
          <div class="time-cont mb1">
            <i class="grade-time-info"></i>
            <time>2016年10月-12月OKR</time>
          </div>

          <div class="grade-cont mb1">

            <h2 class="grade-title"><span>Object1:</span>A项目顺利落地 <i class="icon-zan-copy icon-zan">5 </i></h2>
            <ul class="grade-ul"> 
                <li class="grade-li"> 
                    <div class="grade-left"> 
                        <i class="icon-info"> </i>
                        <span class="grade-kr">  KR1:</span>
                        <span class="grade-kr-text">11.1日前上线第一版  </span>
                     </div>

                </li>
                <li class="grade-li"> 
                    <div class="grade-left"> 
                        <i class="icon-info"> </i>
                        <span class="grade-kr">  KR1:</span>
                        <span class="grade-kr-text">11.1日前上线第一版  </span>
                     </div>

                </li>
                <li class="grade-li"> 
                    <div class="grade-left"> 
                        <i class="icon-info"> </i>
                        <span class="grade-kr">  KR1:</span>
                        <span class="grade-kr-text">11.1日前上线第一版  </span>
                     </div>

                </li>
            </ul>
            <div class="zan-person"> 
             <i class="icon-xin"> </i>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
             </div>
          </div>
          <div class="grade-cont mb1">

            <h2 class="grade-title"><span>Object1:</span>A项目顺利落地 <i class="icon-zan-copy icon-zan">5 </i></h2>
            <ul class="grade-ul"> 
                <li class="grade-li"> 
                    <div class="grade-left"> 
                        <i class="icon-info"> </i>
                        <span class="grade-kr">  KR1:</span>
                        <span class="grade-kr-text">11.1日前上线第一版  </span>
                     </div>

                </li>
                <li class="grade-li"> 
                    <div class="grade-left"> 
                        <i class="icon-info"> </i>
                        <span class="grade-kr">  KR1:</span>
                        <span class="grade-kr-text">11.1日前上线第一版  </span>
                     </div>

                </li>
                <li class="grade-li"> 
                    <div class="grade-left"> 
                        <i class="icon-info"> </i>
                        <span class="grade-kr">  KR1:</span>
                        <span class="grade-kr-text">11.1日前上线第一版  </span>
                     </div>

                </li>
            </ul>
            <div class="zan-person"> 
             <i class="icon-xin"> </i>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
                <span class="person"> 李娜 、</span>
             </div>
          </div>

    </section>

  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

  <script src="js/index.js"></script>

</body>

</html>
