<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="full-screen" content="true" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="360-fullscreen" content="true" />
  <title>我的OKR</title>
  <script src="js/fontbase.js"></script>

  <link href="css/common.css" rel="stylesheet" />
  <link href="css/myOkr.css" rel="stylesheet" />
 
</head>

<body>
    <header class="header g-mb6 mb05">
      <a href="javascript:history.go(-1)" class="btn-back"><i class="btn-back-sub icon-zuojiantou"></i>返回</a>
      我的OKR
      <div class="g-border"></div>
    </header>
   <section class="main">
     <a href="writeOkr.html" class="g-block">
        <ul class="ul-cont mb05">
          <li class="ul-li">
           <h2 class="dd-title"> <b class="text-gay">2016年</b>10月-12月OKR<span class="hint">（待填写）</span></h2>
            <p class="dd-p">10-28 17:31</p>
            <div class="g-border"></div>
            <div class="li-right-cont">
              <p class="grade-cont vh">评分：<span class="js-grade">0.5</span></p>
              <div class="heart"><i class="icon-xin"></i>1</div>
            </div>
          </li>
        </ul>
      </a>
     <a href="lookOkr.html" class="g-block">
        <ul class="ul-cont mb05">
          <li class="ul-li">
           <h2 class="dd-title"> <b class="text-gay">2016年</b>10月-12月OKR<span class="hint"></span></h2>
            <p class="dd-p">10-28 17:31</p>
            <div class="g-border"></div>
            <div class="li-right-cont">
              <p class="grade-cont vh">评分：<span class="js-grade">0.5</span></p>
              <div class="heart"><i class="icon-xin red"></i>1</div>
            </div>
          </li>
        </ul>
      </a>
      <a href="lookOkr.html" class="g-block">
        <ul class="ul-cont mb05">
          <li class="ul-li">
           <h2 class="dd-title"> <b class="text-gay">2016年</b>10月-12月OKR<span class="hint"></span></h2>
            <p class="dd-p">10-28 17:31</p>
            <div class="g-border"></div>
            <div class="li-right-cont">
              <p class="grade-cont vh">评分：<span class="js-grade">0.5</span></p>
              <div class="heart"><i class="icon-xin"></i>1</div>
            </div>
          </li>
        </ul>
      </a>
   </section>


  <script>

  </script>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

  <script src="js/index.js"></script>

</body>

</html>
