<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="full-screen" content="true" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="360-fullscreen" content="true" />
  <title>填写 OKR</title>
  <script src="js/fontbase.js"></script>
  <link href="css/common.css" rel="stylesheet" />
  <link href="css/writeOkr.css" rel="stylesheet" />
 
</head>

<body>
    <header class="header mb05">
      <a href="javascript:history.go(-1)" class="btn-back"><i class="btn-back-sub icon-zuojiantou"></i>返回</a>
      新建OKR
    </header>
    <div id="scrolls">
      <div class="content">
       
          <div class="time-cont mb05">
            <span class="time-info">时间</span>
            <time>2016年10月-12月</time>
          </div>

          <div class="object-cont">
            <div class="append">
              <div class="js-cont mb05">
                <div class="object-cont-sub">
                  <div class="object-input-cont">
                  <label for="" class="object-label">请输入</label>
                   <input class="obj-input" placeholder="Object"/>
                  </div>
                </div>
                <ul class="table-cont">
                  <li class="list-li">
                    <div class="left-cont">
                      <img src="img/list-icon.png" alt="" class="list-img">
                      <span class="list-info">
                        KR1:
                      </span>
                    </div>
                    <div class="right-cont g-bdtm">
                      <input class="obj-input" placeholder="填写详情"/>
                      <span class="btn-clos icon-iconfonterror"></span>
                    </div>
                  </li>
                  <li class="list-li">
                    <div class="left-cont">
                      <img src="img/list-icon.png" alt="" class="list-img">
                      <span class="list-info">
                        KR2:
                      </span>
                    </div>
                    <div class="right-cont g-bdtm">
                      <input class="obj-input" placeholder="填写详情"/>
                      <span class="btn-clos icon-iconfonterror"></span>
                    </div>
                  </li>
                  <li class="list-li">
                    <div class="left-cont">
                      <img src="img/list-icon.png" alt="" class="list-img">
                      <span class="list-info">
                        KR3:
                      </span>
                    </div>
                    <div class="right-cont g-bdtm">
                      <input class="obj-input" placeholder="填写详情"/>
                      <span class="btn-clos icon-iconfonterror"></span>
                    </div>
                  </li>
                </ul>
                <div class="add-pos">
                  <div class="add-text add-kr">
                    <img src="img/icon-jia.png" alt="" class="icon-jia pdr13">添加KR
                  </div>
                </div>

              </div>
            </div>

            <div class="add-obj">
              <img src="img/icon-jia.png" alt="" class="icon-jia">添加Object
            </div>
          </div>
      </div>
    </div>
    <div class="none">
      <div class="object-cont">
        <div class="appendnone">
          <div class="js-cont mb05">
            <div class="object-cont-sub">
              <div class="object-input-cont">
              <label for="" class="object-label">请输入</label>
               <input class="obj-input" placeholder="Object"/>
              </div>
            </div>
            <ul class="table-cont">
              <li class="list-li">
                <div class="left-cont">
                  <img src="img/list-icon.png" alt="" class="list-img">
                  <span class="list-info">
                    KR1:
                  </span>
                </div>
                <div class="right-cont g-bdtm">
                  <input class="obj-input" placeholder="填写详情"/>
                  <span class="btn-clos icon-iconfonterror"></span>
                </div>
              </li>
              <li class="list-li">
                <div class="left-cont">
                  <img src="img/list-icon.png" alt="" class="list-img">
                  <span class="list-info">
                    KR2:
                  </span>
                </div>
                <div class="right-cont g-bdtm">
                  <input class="obj-input" placeholder="填写详情"/>
                  <span class="btn-clos icon-iconfonterror"></span>
                </div>
              </li>
              <li class="list-li">
                <div class="left-cont">
                  <img src="img/list-icon.png" alt="" class="list-img">
                  <span class="list-info">
                    KR3:
                  </span>
                </div>
                <div class="right-cont g-bdtm">
                  <input class="obj-input" placeholder="填写详情"/>
                  <span class="btn-clos icon-iconfonterror"></span>
                </div>
              </li>
            </ul>
            <div class="add-pos">
              <div class="add-text add-kr">
                <img src="img/icon-jia.png" alt="" class="icon-jia pdr13">添加KR
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  <footer class="footer">
    <div class="tabs tabs-after"><a href="myOkr.html">保存草稿</a></div>
    <div class="tabs"><a href="myOkr.html">立即发布</a></div>
  </footer>


  <script>

  </script>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

  <script src="js/writeOkr.js"></script>

</body>

</html>
