@charset "utf-8";
.icon-xin:before {
    font-size: .36rem;
}
.main{

    padding-top: 1.1rem;
    padding-bottom:.96rem;
}
.time-cont{
  height:.9rem;
  line-height:.9rem;
  background:#ffffff;
  padding-left:.3rem;
  font-size:.38rem;
}

.plan-time{
  height:.96rem;
  line-height: .96rem;
  color:#aaadb3;
  font-size:.26rem;
  background: #ffffff;
}
.plan-time::before{
  content:"";
  background: url(../img/icon-horologe.png) no-repeat;
  background-size:100% 100%;
  display: inline-block;
  width:.4rem;
  height:.4rem;
  vertical-align: middle;
  margin-right: .1rem; 
}
.zan-person{
  border-top:1px solid #e8e9eb;
  height:.8rem;
  line-height:.8rem;
  white-space:nowrap; 
  text-overflow:ellipsis; 
  overflow:hidden;
  color:#86868b;
  font-size: .24rem;
}
.person{
  color:#3c62ce;
}
